openapi: 3.0.1
info:
  contact:
    email: support@northdata.de
    name: North Data Support
  description: Programmatic access to the North Data DB.
  termsOfService: https://www.northdata.de/_agb
  title: North Data API
  version: 1.126.10
servers:
- url: https://www.northdata.de/_api
paths:
  /company/v1/company:
    get:
      description: Retrieve a company.
      parameters:
      - description: company name
        in: query
        name: name
        schema:
          type: string
      - description: company address (you only need to specify the city)
        in: query
        name: address
        schema:
          type: string
      - description: the ID of under which the company is registered, for example HRB 12345
        in: query
        name: registerId
        schema:
          type: string
      - description: the city of the court where the company is registered, for example Hamburg
        in: query
        name: registerCity
        schema:
          type: string
      - description: internal company id (do not store this id in an external database, it may change over time)
        in: query
        name: companyId
        schema:
          type: string
      - description: true to find best match (similar name and nearby address)
        in: query
        name: fuzzyMatch
        schema:
          type: boolean
      - description: key that has been provided via the register uniqueKey field
        in: query
        name: registerKey
        schema:
          type: string
      - description: true to include historical data
        in: query
        name: history
        schema:
          type: boolean
      - description: true to include financial data
        in: query
        name: financials
        schema:
          type: boolean
      - description: true to include event data
        in: query
        name: events
        schema:
          type: boolean
      - description: restrict which event types wille be returned if events equals true
        in: query
        name: eventTypes
        schema:
          items:
            $ref: '#/components/schemas/EventType'
          type: array
        style: pipeDelimited
      - description: maximum number of events to return
        in: query
        name: maxEvents
        schema:
          format: int32
          type: integer
      - description: true to include related company and person data
        in: query
        name: relations
        schema:
          type: boolean
      - description: true to include company financial sheets (balance, earnings)
        in: query
        name: sheets
        schema:
          type: boolean
      - description: true to include extra company data provided by 3rd parties
        in: query
        name: extras
        schema:
          type: boolean
      - description: response format
        in: query
        name: output
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
            application/xml:
              schema:
                $ref: '#/components/schemas/Company'
          description: A successful response
  /company/v1/publications:
    get:
      description: Retrieve the publications associated with a company.
      parameters:
      - description: company name
        in: query
        name: name
        schema:
          type: string
      - description: company address (you only need to specify the city)
        in: query
        name: address
        schema:
          type: string
      - description: the ID of under which the company is registered, for example HRB 12345
        in: query
        name: registerId
        schema:
          type: string
      - description: the city of the court where the company is registered, for example Hamburg
        in: query
        name: registerCity
        schema:
          type: string
      - description: internal company id (do not store this id in an external database, it may change over time)
        in: query
        name: companyId
        schema:
          type: string
      - description: true to find best match (similar name and nearby address)
        in: query
        name: fuzzyMatch
        schema:
          type: boolean
      - description: key that has been provided via the register uniqueKey field
        in: query
        name: registerKey
        schema:
          type: string
      - description: restrict which sources are allowed for the returned publications
        in: query
        name: sources
        schema:
          items:
            $ref: '#/components/schemas/PublicationSource'
          type: array
        style: pipeDelimited
      - description: whether to include publication text / html (may significantly slow down response)
        in: query
        name: content
        schema:
          type: boolean
      - description: should be set when presenting the content on a public website
        in: query
        name: censor
        schema:
          type: boolean
      - description: offset of first item to return
        in: query
        name: offset
        schema:
          format: int32
          type: integer
      - description: maximum number of items to return
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: response format
        in: query
        name: output
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericResponse'
          description: A successful response
  /person/v1/person:
    get:
      description: Retrieve a person.
      parameters:
      - description: first name(s) of a person
        in: query
        name: firstName
        schema:
          type: string
      - description: last name of a person
        in: query
        name: lastName
        schema:
          type: string
      - description: person address (you only need to specify the city)
        in: query
        name: address
        schema:
          type: string
      - description: birth date
        in: query
        name: birthDate
        schema:
          format: date
          type: string
      - description: internal person id (do not store this id in an external database, it may change over time)
        in: query
        name: personId
        schema:
          type: string
      - description: true to include historical data
        in: query
        name: history
        schema:
          type: boolean
      - description: true to include related company data
        in: query
        name: relations
        schema:
          type: boolean
      - description: response format
        in: query
        name: output
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
            application/xml:
              schema:
                $ref: '#/components/schemas/Person'
          description: A successful response
  /person/v1/publications:
    get:
      description: Retrieve the publications associated with a person.
      parameters:
      - description: first name(s) of a person
        in: query
        name: firstName
        schema:
          type: string
      - description: last name of a person
        in: query
        name: lastName
        schema:
          type: string
      - description: person address (you only need to specify the city)
        in: query
        name: address
        schema:
          type: string
      - description: birth date
        in: query
        name: birthDate
        schema:
          format: date
          type: string
      - description: internal person id (do not store this id in an external database, it may change over time)
        in: query
        name: personId
        schema:
          type: string
      - description: restrict which sources are allowed for the returned publications
        in: query
        name: sources
        schema:
          items:
            $ref: '#/components/schemas/PublicationSource'
          type: array
        style: pipeDelimited
      - description: whether to include publication text / html (may significantly slow down response)
        in: query
        name: content
        schema:
          type: boolean
      - description: should be set when presenting the content on a public website
        in: query
        name: censor
        schema:
          type: boolean
      - description: offset of first item to return
        in: query
        name: offset
        schema:
          format: int32
          type: integer
      - description: maximum number of items to return
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: response format
        in: query
        name: output
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericResponse'
          description: A successful response
  /pub/v1/publications:
    get:
      description: Retrieve publications. At most 10 publications are returned with each call. For more, repeat the call setting the pos parameter to the newPos attribute value of the response.
      parameters:
      - description: minimum datetime publication was added to the database
        in: query
        name: minTimestamp
        schema:
          format: date-time
          type: string
      - description: maximum datetime publication was added to the database
        in: query
        name: maxTimestamp
        schema:
          format: date-time
          type: string
      - description: DEPRECATED - please use minTimestamp instead
        in: query
        name: minDate
        schema:
          format: date
          type: string
      - description: DEPRECATED - please use maxTimestamp instead
        in: query
        name: maxDate
        schema:
          format: date
          type: string
      - description: restrict which sources are allowed for the returned publications
        in: query
        name: sources
        schema:
          items:
            $ref: '#/components/schemas/PublicationSource'
          type: array
        style: pipeDelimited
      - description: whether to include publication text / html (may significantly slow down response)
        in: query
        name: content
        schema:
          type: boolean
      - description: true to include historical data for the publisher
        in: query
        name: publisherHistory
        schema:
          type: boolean
      - description: true to include financial data for the publisher
        in: query
        name: publisherFinancials
        schema:
          type: boolean
      - description: true to include related company and person data for the publisher
        in: query
        name: publisherRelations
        schema:
          type: boolean
      - description: true to include event data for the publisher
        in: query
        name: publisherEvents
        schema:
          type: boolean
      - description: true to include extra publisher data provided by 3rd parties
        in: query
        name: publisherExtras
        schema:
          type: boolean
      - description: true to include publisher sheets (balance, earnings)
        in: query
        name: publisherSheets
        schema:
          type: boolean
      - description: if additional results shall be downloaded, set this to the value of the newPos attribute of the previous response
        in: query
        name: pos
        schema:
          type: string
      - description: should be set when presenting the content on a public website
        in: query
        name: censor
        schema:
          type: boolean
      - description: response format
        in: query
        name: output
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericResponse'
          description: A successful response
  /search/v1/universal:
    get:
      description: 'universal search: provides best company and person matches for
        given input query'
      parameters:
      - description: the query string
        in: query
        name: query
        required: true
        schema:
          type: string
      - description: set to "company" for companies only, "person" for persons only, otherwise leave empty
        in: query
        name: domain
        schema:
          type: string
      - description: list of valid statuses (active, terminated, liquidation)
        in: query
        name: status
        schema:
          type: string
      - description: if additional results shall be downloaded, set this to the value of the newPos attribute of the previous response
        in: query
        name: pos
        schema:
          type: string
      - description: should be set when presenting the content on a public website
        in: query
        name: censor
        schema:
          type: boolean
      - description: offset of first item to return
        in: query
        name: offset
        schema:
          format: int32
          type: integer
      - description: maximum number of items to return
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: response format
        in: query
        name: output
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
      - description: true to include historical data
        in: query
        name: history
        schema:
          type: boolean
      - description: true to include financial data
        in: query
        name: financials
        schema:
          type: boolean
      - description: true to include event data
        in: query
        name: events
        schema:
          type: boolean
      - description: restrict which event types wille be returned if events equals true
        in: query
        name: eventTypes
        schema:
          items:
            $ref: '#/components/schemas/EventType'
          type: array
        style: pipeDelimited
      - description: maximum number of events to return
        in: query
        name: maxEvents
        schema:
          format: int32
          type: integer
      - description: true to include related company and person data
        in: query
        name: relations
        schema:
          type: boolean
      - description: true to include company financial sheets (balance, earnings)
        in: query
        name: sheets
        schema:
          type: boolean
      - description: true to include extra company data provided by 3rd parties
        in: query
        name: extras
        schema:
          type: boolean
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/SearchResults'
          description: A successful response
  /search/v1/suggest:
    get:
      description: 'auto complete: provides quick company and person suggestions for
        given input query'
      parameters:
      - description: the query string
        in: query
        name: query
        required: true
        schema:
          type: string
      - description: '"company" to match companies only, "person" to match persons
          only, empty to match all'
        in: query
        name: domain
        schema:
          type: string
      - description: true to include former company names
        in: query
        name: history
        schema:
          type: boolean
      - description: list of valid statuses (active, terminated, liquidation)
        in: query
        name: status
        schema:
          type: string
      - description: should be set when presenting the content on a public website
        in: query
        name: censor
        schema:
          type: boolean
      - description: maximum number of items to return
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: response format
        in: query
        name: output
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/SearchResults'
          description: A successful response
  /search/v1/power:
    get:
      description: 'power search: supports geo and financial criteria'
      parameters:
      - description: company name or empty
        in: query
        name: name
        schema:
          type: string
      - description: wz code or keywords to match in the company's subject
        in: query
        name: description
        schema:
          type: string
      - description: address or geo coordinates
        in: query
        name: address
        schema:
          type: string
      - description: maximum distance from given address
        in: query
        name: maxDistanceKm
        schema:
          format: double
          type: number
      - description: list of legal forms
        in: query
        name: legalForm
        schema:
          type: string
      - description: list of financial ids for financial filtering (see user guide)
        in: query
        name: financialId
        schema:
          items:
            type: string
          type: array
        style: pipeDelimited
      - description: list of lower bounds for financial filterings  (see user guide)
        in: query
        name: lowerBound
        schema:
          items:
            format: double
            type: number
          type: array
        style: pipeDelimited
      - description: list of upper bounds for financial filterings  (see user guide)
        in: query
        name: upperBound
        schema:
          items:
            format: double
            type: number
          type: array
        style: pipeDelimited
      - description: list of event types for event filtering (see user guide)
        in: query
        name: eventType
        schema:
          items:
            type: string
          type: array
        style: pipeDelimited
      - description: list of minimum dates for event filterings  (see user guide)
        in: query
        name: minDate
        schema:
          items:
            format: date
            type: string
          type: array
        style: pipeDelimited
      - description: list of maximum dates for event filterings  (see user guide)
        in: query
        name: maxDate
        schema:
          items:
            format: date
            type: string
          type: array
        style: pipeDelimited
      - description: list of valid statuses (active, terminated, liquidation)
        in: query
        name: status
        schema:
          type: string
      - description: true to include historical data
        in: query
        name: history
        schema:
          type: boolean
      - description: true to include financial data
        in: query
        name: financials
        schema:
          type: boolean
      - description: true to include event data
        in: query
        name: events
        schema:
          type: boolean
      - description: restrict which event types wille be returned if events equals true
        in: query
        name: eventTypes
        schema:
          items:
            $ref: '#/components/schemas/EventType'
          type: array
        style: pipeDelimited
      - description: maximum number of events to return
        in: query
        name: maxEvents
        schema:
          format: int32
          type: integer
      - description: true to include related company and person data
        in: query
        name: relations
        schema:
          type: boolean
      - description: true to include company financial sheets (balance, earnings)
        in: query
        name: sheets
        schema:
          type: boolean
      - description: true to include extra company data provided by 3rd parties
        in: query
        name: extras
        schema:
          type: boolean
      - description: if additional results shall be downloaded, set this to the value of the newPos attribute of the previous response
        in: query
        name: pos
        schema:
          type: string
      - description: should be set when presenting the content on a public website
        in: query
        name: censor
        schema:
          type: boolean
      - description: maximum number of items to return
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: response format
        in: query
        name: output
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/SearchResults'
          description: A successful response
components:
  parameters:
    sources:
      description: restrict which sources are allowed for the returned publications
      in: query
      name: sources
      schema:
        items:
          $ref: '#/components/schemas/PublicationSource'
        type: array
      style: pipeDelimited
    companyName:
      description: company name
      in: query
      name: name
      schema:
        type: string
    extras:
      description: true to include extra company data provided by 3rd parties
      in: query
      name: extras
      schema:
        type: boolean
    content:
      description: whether to include publication text / html (may significantly slow down response)
      in: query
      name: content
      schema:
        type: boolean
    output:
      description: response format
      in: query
      name: output
      schema:
        default: json
        enum:
        - json
        - xml
        type: string
    maxEvents:
      description: maximum number of events to return
      in: query
      name: maxEvents
      schema:
        format: int32
        type: integer
    sheets:
      description: true to include company financial sheets (balance, earnings)
      in: query
      name: sheets
      schema:
        type: boolean
    pos:
      description: if additional results shall be downloaded, set this to the value of the newPos attribute of the previous response
      in: query
      name: pos
      schema:
        type: string
    limit:
      description: maximum number of items to return
      in: query
      name: limit
      schema:
        format: int32
        type: integer
    personLastName:
      description: last name of a person
      in: query
      name: lastName
      schema:
        type: string
    events:
      description: true to include event data
      in: query
      name: events
      schema:
        type: boolean
    financials:
      description: true to include financial data
      in: query
      name: financials
      schema:
        type: boolean
    personAddress:
      description: person address (you only need to specify the city)
      in: query
      name: address
      schema:
        type: string
    registerKey:
      description: key that has been provided via the register uniqueKey field
      in: query
      name: registerKey
      schema:
        type: string
    offset:
      description: offset of first item to return
      in: query
      name: offset
      schema:
        format: int32
        type: integer
    companyRegisterCity:
      description: the city of the court where the company is registered, for example Hamburg
      in: query
      name: registerCity
      schema:
        type: string
    history:
      description: true to include historical data
      in: query
      name: history
      schema:
        type: boolean
    eventTypes:
      description: restrict which event types wille be returned if events equals true
      in: query
      name: eventTypes
      schema:
        items:
          $ref: '#/components/schemas/EventType'
        type: array
      style: pipeDelimited
    fuzzyMatch:
      description: true to find best match (similar name and nearby address)
      in: query
      name: fuzzyMatch
      schema:
        type: boolean
    birthDate:
      description: birth date
      in: query
      name: birthDate
      schema:
        format: date
        type: string
    companyRegisterId:
      description: the ID of under which the company is registered, for example HRB 12345
      in: query
      name: registerId
      schema:
        type: string
    companyId:
      description: internal company id (do not store this id in an external database, it may change over time)
      in: query
      name: companyId
      schema:
        type: string
    companyAddress:
      description: company address (you only need to specify the city)
      in: query
      name: address
      schema:
        type: string
    censor:
      description: should be set when presenting the content on a public website
      in: query
      name: censor
      schema:
        type: boolean
    personId:
      description: internal person id (do not store this id in an external database, it may change over time)
      in: query
      name: personId
      schema:
        type: string
    personFirstName:
      description: first name(s) of a person
      in: query
      name: firstName
      schema:
        type: string
    relations:
      description: true to include related company and person data
      in: query
      name: relations
      schema:
        type: boolean
    status:
      description: list of valid statuses (active, terminated, liquidation)
      in: query
      name: status
      schema:
        type: string
  schemas:
    CompanyNameHistoryItem:
      example:
        date: 2000-01-23
        name:
          name: name
          legalForm: legalForm
      properties:
        name:
          $ref: '#/components/schemas/CompanyName'
        date:
          description: since when the referred company name is (known to be) in use
          format: date
          type: string
      required:
      - name
      type: object
    Company:
      description: All data for a particular company
      example:
        relatedPersons:
          items:
          - person:
              address:
                country: country
                lng: 6.02745618307040320615897144307382404804229736328125
                city: city
                street: street
                postalCode: postalCode
                state: state
                lat: 0.80082819046101150206595775671303272247314453125
              deceased: true
              blocked: true
              birthYear: 2
              name:
                firstName: firstName
                lastName: lastName
                title: title
              id: id
              birthDate: 2000-01-23
            roles:
            - date: 2000-01-23
              name: name
              demotion: true
              type: Publisher
              dir: None
              announce: true
              group: Succession
            - date: 2000-01-23
              name: name
              demotion: true
              type: Publisher
              dir: None
              announce: true
              group: Succession
          - person:
              address:
                country: country
                lng: 6.02745618307040320615897144307382404804229736328125
                city: city
                street: street
                postalCode: postalCode
                state: state
                lat: 0.80082819046101150206595775671303272247314453125
              deceased: true
              blocked: true
              birthYear: 2
              name:
                firstName: firstName
                lastName: lastName
                title: title
              id: id
              birthDate: 2000-01-23
            roles:
            - date: 2000-01-23
              name: name
              demotion: true
              type: Publisher
              dir: None
              announce: true
              group: Succession
            - date: 2000-01-23
              name: name
              demotion: true
              type: Publisher
              dir: None
              announce: true
              group: Succession
        financials:
          date: 2000-01-23
          note:
            html: html
            text: text
          consolidated: true
          formattedDate: formattedDate
          source:
            snippets:
            - title: title
              contentType: contentType
              content: content
            - title: title
              contentType: contentType
              content: content
            publicationId: publicationId
            publicationTitle: publicationTitle
            publicationDate: 2000-01-23
            auditorName: auditorName
          items:
          - note: note
            unit: unit
            name: name
            formattedValue: formattedValue
            id: id
            value: 1.46581298050294517310021547018550336360931396484375
          - note: note
            unit: unit
            name: name
            formattedValue: formattedValue
            id: id
            value: 1.46581298050294517310021547018550336360931396484375
        address:
          country: country
          lng: 6.02745618307040320615897144307382404804229736328125
          city: city
          street: street
          postalCode: postalCode
          state: state
          lat: 0.80082819046101150206595775671303272247314453125
        subject: subject
        extras:
        - sourceUrl: sourceUrl
          sourceName: sourceName
          items:
          - formattedHtmlValue: formattedHtmlValue
            name: name
            id: id
            value: value
          - formattedHtmlValue: formattedHtmlValue
            name: name
            id: id
            value: value
        - sourceUrl: sourceUrl
          sourceName: sourceName
          items:
          - formattedHtmlValue: formattedHtmlValue
            name: name
            id: id
            value: value
          - formattedHtmlValue: formattedHtmlValue
            name: name
            id: id
            value: value
        history:
          financials:
          - date: 2000-01-23
            note:
              html: html
              text: text
            consolidated: true
            formattedDate: formattedDate
            source:
              snippets:
              - title: title
                contentType: contentType
                content: content
              - title: title
                contentType: contentType
                content: content
              publicationId: publicationId
              publicationTitle: publicationTitle
              publicationDate: 2000-01-23
              auditorName: auditorName
            items:
            - note: note
              unit: unit
              name: name
              formattedValue: formattedValue
              id: id
              value: 1.46581298050294517310021547018550336360931396484375
            - note: note
              unit: unit
              name: name
              formattedValue: formattedValue
              id: id
              value: 1.46581298050294517310021547018550336360931396484375
          - date: 2000-01-23
            note:
              html: html
              text: text
            consolidated: true
            formattedDate: formattedDate
            source:
              snippets:
              - title: title
                contentType: contentType
                content: content
              - title: title
                contentType: contentType
                content: content
              publicationId: publicationId
              publicationTitle: publicationTitle
              publicationDate: 2000-01-23
              auditorName: auditorName
            items:
            - note: note
              unit: unit
              name: name
              formattedValue: formattedValue
              id: id
              value: 1.46581298050294517310021547018550336360931396484375
            - note: note
              unit: unit
              name: name
              formattedValue: formattedValue
              id: id
              value: 1.46581298050294517310021547018550336360931396484375
          addresses:
          - date: 2000-01-23
            address:
              country: country
              lng: 6.02745618307040320615897144307382404804229736328125
              city: city
              street: street
              postalCode: postalCode
              state: state
              lat: 0.80082819046101150206595775671303272247314453125
          - date: 2000-01-23
            address:
              country: country
              lng: 6.02745618307040320615897144307382404804229736328125
              city: city
              street: street
              postalCode: postalCode
              state: state
              lat: 0.80082819046101150206595775671303272247314453125
          names:
          - date: 2000-01-23
            name:
              name: name
              legalForm: legalForm
          - date: 2000-01-23
            name:
              name: name
              legalForm: legalForm
          registers:
          - date: 2000-01-23
            register:
              city: city
              uniqueKey: uniqueKey
              id: id
          - date: 2000-01-23
            register:
              city: city
              uniqueKey: uniqueKey
              id: id
        relatedCompanies:
          items:
          - person:
              address:
                country: country
                lng: 6.02745618307040320615897144307382404804229736328125
                city: city
                street: street
                postalCode: postalCode
                state: state
                lat: 0.80082819046101150206595775671303272247314453125
              deceased: true
              blocked: true
              birthYear: 2
              name:
                firstName: firstName
                lastName: lastName
                title: title
              id: id
              birthDate: 2000-01-23
            roles:
            - date: 2000-01-23
              name: name
              demotion: true
              type: Publisher
              dir: None
              announce: true
              group: Succession
            - date: 2000-01-23
              name: name
              demotion: true
              type: Publisher
              dir: None
              announce: true
              group: Succession
          - person:
              address:
                country: country
                lng: 6.02745618307040320615897144307382404804229736328125
                city: city
                street: street
                postalCode: postalCode
                state: state
                lat: 0.80082819046101150206595775671303272247314453125
              deceased: true
              blocked: true
              birthYear: 2
              name:
                firstName: firstName
                lastName: lastName
                title: title
              id: id
              birthDate: 2000-01-23
            roles:
            - date: 2000-01-23
              name: name
              demotion: true
              type: Publisher
              dir: None
              announce: true
              group: Succession
            - date: 2000-01-23
              name: name
              demotion: true
              type: Publisher
              dir: None
              announce: true
              group: Succession
        sheets:
        - columnHeaders:
          - date: 2000-01-23
            source:
              snippets:
              - title: title
                contentType: contentType
                content: content
              - title: title
                contentType: contentType
                content: content
              publicationId: publicationId
              publicationTitle: publicationTitle
              publicationDate: 2000-01-23
              auditorName: auditorName
          - date: 2000-01-23
            source:
              snippets:
              - title: title
                contentType: contentType
                content: content
              - title: title
                contentType: contentType
                content: content
              publicationId: publicationId
              publicationTitle: publicationTitle
              publicationDate: 2000-01-23
              auditorName: auditorName
          unit: unit
          consolidated: true
          rows:
          - cells:
            - value: 5.63737665663332876420099637471139430999755859375
            - value: 5.63737665663332876420099637471139430999755859375
            level: 5
            name: name
          - cells:
            - value: 5.63737665663332876420099637471139430999755859375
            - value: 5.63737665663332876420099637471139430999755859375
            level: 5
            name: name
          type: balance
          reporting: HGB
        - columnHeaders:
          - date: 2000-01-23
            source:
              snippets:
              - title: title
                contentType: contentType
                content: content
              - title: title
                contentType: contentType
                content: content
              publicationId: publicationId
              publicationTitle: publicationTitle
              publicationDate: 2000-01-23
              auditorName: auditorName
          - date: 2000-01-23
            source:
              snippets:
              - title: title
                contentType: contentType
                content: content
              - title: title
                contentType: contentType
                content: content
              publicationId: publicationId
              publicationTitle: publicationTitle
              publicationDate: 2000-01-23
              auditorName: auditorName
          unit: unit
          consolidated: true
          rows:
          - cells:
            - value: 5.63737665663332876420099637471139430999755859375
            - value: 5.63737665663332876420099637471139430999755859375
            level: 5
            name: name
          - cells:
            - value: 5.63737665663332876420099637471139430999755859375
            - value: 5.63737665663332876420099637471139430999755859375
            level: 5
            name: name
          type: balance
          reporting: HGB
        blocked: true
        name:
          name: name
          legalForm: legalForm
        id: id
        terminated: true
        events:
          items:
          - date: 2000-01-23
            description: description
            type: type
          - date: 2000-01-23
            description: description
            type: type
        register:
          city: city
          uniqueKey: uniqueKey
          id: id
        status: active
      properties:
        id:
          description: internal company id (do not store this id in an external database, it may change over time)
          type: string
        name:
          $ref: '#/components/schemas/CompanyName'
        address:
          $ref: '#/components/schemas/Address'
        register:
          $ref: '#/components/schemas/Register'
        subject:
          description: subject according to register filing (Unternehmensgegenstand)
          type: string
        terminated:
          description: company has been terminated
          type: boolean
        status:
          description: current status of the company, where liquidation is the intermediate state before the final removal from the register (=terminated)
          enum:
          - active
          - liquidation
          - terminated
          type: string
        history:
          $ref: '#/components/schemas/CompanyHistory'
        financials:
          $ref: '#/components/schemas/Financials'
        events:
          $ref: '#/components/schemas/Events'
        extras:
          description: extra data provided by 3rd parties
          items:
            $ref: '#/components/schemas/Extras'
          type: array
        sheets:
          description: company's financial sheets (such as balance and earnings sheets)
          items:
            $ref: '#/components/schemas/Sheet'
          type: array
        relatedCompanies:
          $ref: '#/components/schemas/Relations'
        relatedPersons:
          $ref: '#/components/schemas/Relations'
        blocked:
          description: company data should not be publicly on the Internet because of a request for privacy protection
          type: boolean
      required:
      - address
      - id
      - name
      title: Company
      type: object
    SourceSnippet:
      description: excerpts from an original publication
      example:
        title: title
        contentType: contentType
        content: content
      properties:
        title:
          description: title
          type: string
        content:
          description: text
          type: string
        contentType:
          description: content format, usually "text/html"
          type: string
      required:
      - content
      - title
      type: object
    PublicationSource:
      description: |
        Source identifier:
          * Hrb - Handelsregisterbekanntmachungen
          * Eb - Elektronischer Bundesanzeiger
          * Ins - Insolvenzbekanntmachungen
          * Ut - Unternehmensträger (Handelsregister)
          * Nd - North Data (manual corrections and bug fixes)
      enum:
      - Hrb
      - Eb
      - Ins
      - Ut
      - Nd
      type: string
    Address:
      example:
        country: country
        lng: 6.02745618307040320615897144307382404804229736328125
        city: city
        street: street
        postalCode: postalCode
        state: state
        lat: 0.80082819046101150206595775671303272247314453125
      properties:
        street:
          description: street and house number
          type: string
        postalCode:
          description: postal code
          type: string
        city:
          description: city
          type: string
        state:
          description: state
          type: string
        country:
          description: two-letter ISO country code
          type: string
        lat:
          description: geo coordinates, latitude part
          format: double
          type: number
        lng:
          description: geo coordinates, longitude part
          format: double
          type: number
      required:
      - city
      - country
      type: object
    EventType:
      description: event type
      type: string
    Product:
      description: a publication that can be bought and downloaded
      properties:
        id:
          description: string to identify a product when ordering for download
          type: string
        name:
          description: name of the product
          type: string
        date:
          description: publishing date
          format: date
          type: string
        price:
          $ref: '#/components/schemas/Money'
      required:
      - id
      - name
      - price
      type: object
    Extras:
      description: set of additional data, typically provided by 3rd parties.
      example:
        sourceUrl: sourceUrl
        sourceName: sourceName
        items:
        - formattedHtmlValue: formattedHtmlValue
          name: name
          id: id
          value: value
        - formattedHtmlValue: formattedHtmlValue
          name: name
          id: id
          value: value
      properties:
        sourceName:
          description: name of the source
          type: string
        sourceUrl:
          description: url of the source
          type: string
        items:
          description: extra data items in this set
          items:
            $ref: '#/components/schemas/Extra'
          type: array
      type: object
    SearchResults:
      description: search results
      example:
        total: 1
        offset: 0
        nextPos: nextPos
        nextOffset: 6
        results:
        - person:
            address:
              country: country
              lng: 6.02745618307040320615897144307382404804229736328125
              city: city
              street: street
              postalCode: postalCode
              state: state
              lat: 0.80082819046101150206595775671303272247314453125
            deceased: true
            blocked: true
            birthYear: 2
            name:
              firstName: firstName
              lastName: lastName
              title: title
            id: id
            birthDate: 2000-01-23
          publication:
            date: 2000-01-23
            internal: '{}'
            language: language
            originalLanguage: originalLanguage
            title: title
            mentionedCompanies:
              items:
              - person:
                  address:
                    country: country
                    lng: 6.02745618307040320615897144307382404804229736328125
                    city: city
                    street: street
                    postalCode: postalCode
                    state: state
                    lat: 0.80082819046101150206595775671303272247314453125
                  deceased: true
                  blocked: true
                  birthYear: 2
                  name:
                    firstName: firstName
                    lastName: lastName
                    title: title
                  id: id
                  birthDate: 2000-01-23
                roles:
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
              - person:
                  address:
                    country: country
                    lng: 6.02745618307040320615897144307382404804229736328125
                    city: city
                    street: street
                    postalCode: postalCode
                    state: state
                    lat: 0.80082819046101150206595775671303272247314453125
                  deceased: true
                  blocked: true
                  birthYear: 2
                  name:
                    firstName: firstName
                    lastName: lastName
                    title: title
                  id: id
                  birthDate: 2000-01-23
                roles:
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
            structure:
              topics:
              - name: name
                type: Entry
                value: value
              - name: name
                type: Entry
                value: value
            filings:
            - city: city
              id: id
            - city: city
              id: id
            blocked: true
            publisher:
              relatedPersons:
                items:
                - person:
                    address:
                      country: country
                      lng: 6.02745618307040320615897144307382404804229736328125
                      city: city
                      street: street
                      postalCode: postalCode
                      state: state
                      lat: 0.80082819046101150206595775671303272247314453125
                    deceased: true
                    blocked: true
                    birthYear: 2
                    name:
                      firstName: firstName
                      lastName: lastName
                      title: title
                    id: id
                    birthDate: 2000-01-23
                  roles:
                  - date: 2000-01-23
                    name: name
                    demotion: true
                    type: Publisher
                    dir: None
                    announce: true
                    group: Succession
                  - date: 2000-01-23
                    name: name
                    demotion: true
                    type: Publisher
                    dir: None
                    announce: true
                    group: Succession
                - person:
                    address:
                      country: country
                      lng: 6.02745618307040320615897144307382404804229736328125
                      city: city
                      street: street
                      postalCode: postalCode
                      state: state
                      lat: 0.80082819046101150206595775671303272247314453125
                    deceased: true
                    blocked: true
                    birthYear: 2
                    name:
                      firstName: firstName
                      lastName: lastName
                      title: title
                    id: id
                    birthDate: 2000-01-23
                  roles:
                  - date: 2000-01-23
                    name: name
                    demotion: true
                    type: Publisher
                    dir: None
                    announce: true
                    group: Succession
                  - date: 2000-01-23
                    name: name
                    demotion: true
                    type: Publisher
                    dir: None
                    announce: true
                    group: Succession
              financials:
                date: 2000-01-23
                note:
                  html: html
                  text: text
                consolidated: true
                formattedDate: formattedDate
                source:
                  snippets:
                  - title: title
                    contentType: contentType
                    content: content
                  - title: title
                    contentType: contentType
                    content: content
                  publicationId: publicationId
                  publicationTitle: publicationTitle
                  publicationDate: 2000-01-23
                  auditorName: auditorName
                items:
                - note: note
                  unit: unit
                  name: name
                  formattedValue: formattedValue
                  id: id
                  value: 1.46581298050294517310021547018550336360931396484375
                - note: note
                  unit: unit
                  name: name
                  formattedValue: formattedValue
                  id: id
                  value: 1.46581298050294517310021547018550336360931396484375
              address:
                country: country
                lng: 6.02745618307040320615897144307382404804229736328125
                city: city
                street: street
                postalCode: postalCode
                state: state
                lat: 0.80082819046101150206595775671303272247314453125
              subject: subject
              extras:
              - sourceUrl: sourceUrl
                sourceName: sourceName
                items:
                - formattedHtmlValue: formattedHtmlValue
                  name: name
                  id: id
                  value: value
                - formattedHtmlValue: formattedHtmlValue
                  name: name
                  id: id
                  value: value
              - sourceUrl: sourceUrl
                sourceName: sourceName
                items:
                - formattedHtmlValue: formattedHtmlValue
                  name: name
                  id: id
                  value: value
                - formattedHtmlValue: formattedHtmlValue
                  name: name
                  id: id
                  value: value
              history:
                financials:
                - date: 2000-01-23
                  note:
                    html: html
                    text: text
                  consolidated: true
                  formattedDate: formattedDate
                  source:
                    snippets:
                    - title: title
                      contentType: contentType
                      content: content
                    - title: title
                      contentType: contentType
                      content: content
                    publicationId: publicationId
                    publicationTitle: publicationTitle
                    publicationDate: 2000-01-23
                    auditorName: auditorName
                  items:
                  - note: note
                    unit: unit
                    name: name
                    formattedValue: formattedValue
                    id: id
                    value: 1.46581298050294517310021547018550336360931396484375
                  - note: note
                    unit: unit
                    name: name
                    formattedValue: formattedValue
                    id: id
                    value: 1.46581298050294517310021547018550336360931396484375
                - date: 2000-01-23
                  note:
                    html: html
                    text: text
                  consolidated: true
                  formattedDate: formattedDate
                  source:
                    snippets:
                    - title: title
                      contentType: contentType
                      content: content
                    - title: title
                      contentType: contentType
                      content: content
                    publicationId: publicationId
                    publicationTitle: publicationTitle
                    publicationDate: 2000-01-23
                    auditorName: auditorName
                  items:
                  - note: note
                    unit: unit
                    name: name
                    formattedValue: formattedValue
                    id: id
                    value: 1.46581298050294517310021547018550336360931396484375
                  - note: note
                    unit: unit
                    name: name
                    formattedValue: formattedValue
                    id: id
                    value: 1.46581298050294517310021547018550336360931396484375
                addresses:
                - date: 2000-01-23
                  address:
                    country: country
                    lng: 6.02745618307040320615897144307382404804229736328125
                    city: city
                    street: street
                    postalCode: postalCode
                    state: state
                    lat: 0.80082819046101150206595775671303272247314453125
                - date: 2000-01-23
                  address:
                    country: country
                    lng: 6.02745618307040320615897144307382404804229736328125
                    city: city
                    street: street
                    postalCode: postalCode
                    state: state
                    lat: 0.80082819046101150206595775671303272247314453125
                names:
                - date: 2000-01-23
                  name:
                    name: name
                    legalForm: legalForm
                - date: 2000-01-23
                  name:
                    name: name
                    legalForm: legalForm
                registers:
                - date: 2000-01-23
                  register:
                    city: city
                    uniqueKey: uniqueKey
                    id: id
                - date: 2000-01-23
                  register:
                    city: city
                    uniqueKey: uniqueKey
                    id: id
              relatedCompanies:
                items:
                - person:
                    address:
                      country: country
                      lng: 6.02745618307040320615897144307382404804229736328125
                      city: city
                      street: street
                      postalCode: postalCode
                      state: state
                      lat: 0.80082819046101150206595775671303272247314453125
                    deceased: true
                    blocked: true
                    birthYear: 2
                    name:
                      firstName: firstName
                      lastName: lastName
                      title: title
                    id: id
                    birthDate: 2000-01-23
                  roles:
                  - date: 2000-01-23
                    name: name
                    demotion: true
                    type: Publisher
                    dir: None
                    announce: true
                    group: Succession
                  - date: 2000-01-23
                    name: name
                    demotion: true
                    type: Publisher
                    dir: None
                    announce: true
                    group: Succession
                - person:
                    address:
                      country: country
                      lng: 6.02745618307040320615897144307382404804229736328125
                      city: city
                      street: street
                      postalCode: postalCode
                      state: state
                      lat: 0.80082819046101150206595775671303272247314453125
                    deceased: true
                    blocked: true
                    birthYear: 2
                    name:
                      firstName: firstName
                      lastName: lastName
                      title: title
                    id: id
                    birthDate: 2000-01-23
                  roles:
                  - date: 2000-01-23
                    name: name
                    demotion: true
                    type: Publisher
                    dir: None
                    announce: true
                    group: Succession
                  - date: 2000-01-23
                    name: name
                    demotion: true
                    type: Publisher
                    dir: None
                    announce: true
                    group: Succession
              sheets:
              - columnHeaders:
                - date: 2000-01-23
                  source:
                    snippets:
                    - title: title
                      contentType: contentType
                      content: content
                    - title: title
                      contentType: contentType
                      content: content
                    publicationId: publicationId
                    publicationTitle: publicationTitle
                    publicationDate: 2000-01-23
                    auditorName: auditorName
                - date: 2000-01-23
                  source:
                    snippets:
                    - title: title
                      contentType: contentType
                      content: content
                    - title: title
                      contentType: contentType
                      content: content
                    publicationId: publicationId
                    publicationTitle: publicationTitle
                    publicationDate: 2000-01-23
                    auditorName: auditorName
                unit: unit
                consolidated: true
                rows:
                - cells:
                  - value: 5.63737665663332876420099637471139430999755859375
                  - value: 5.63737665663332876420099637471139430999755859375
                  level: 5
                  name: name
                - cells:
                  - value: 5.63737665663332876420099637471139430999755859375
                  - value: 5.63737665663332876420099637471139430999755859375
                  level: 5
                  name: name
                type: balance
                reporting: HGB
              - columnHeaders:
                - date: 2000-01-23
                  source:
                    snippets:
                    - title: title
                      contentType: contentType
                      content: content
                    - title: title
                      contentType: contentType
                      content: content
                    publicationId: publicationId
                    publicationTitle: publicationTitle
                    publicationDate: 2000-01-23
                    auditorName: auditorName
                - date: 2000-01-23
                  source:
                    snippets:
                    - title: title
                      contentType: contentType
                      content: content
                    - title: title
                      contentType: contentType
                      content: content
                    publicationId: publicationId
                    publicationTitle: publicationTitle
                    publicationDate: 2000-01-23
                    auditorName: auditorName
                unit: unit
                consolidated: true
                rows:
                - cells:
                  - value: 5.63737665663332876420099637471139430999755859375
                  - value: 5.63737665663332876420099637471139430999755859375
                  level: 5
                  name: name
                - cells:
                  - value: 5.63737665663332876420099637471139430999755859375
                  - value: 5.63737665663332876420099637471139430999755859375
                  level: 5
                  name: name
                type: balance
                reporting: HGB
              blocked: true
              name:
                name: name
                legalForm: legalForm
              id: id
              terminated: true
              events:
                items:
                - date: 2000-01-23
                  description: description
                  type: type
                - date: 2000-01-23
                  description: description
                  type: type
              register:
                city: city
                uniqueKey: uniqueKey
                id: id
              status: active
            html: html
            id: id
            sourceName: sourceName
            text: text
            category: category
            mentionedPersons:
              items:
              - person:
                  address:
                    country: country
                    lng: 6.02745618307040320615897144307382404804229736328125
                    city: city
                    street: street
                    postalCode: postalCode
                    state: state
                    lat: 0.80082819046101150206595775671303272247314453125
                  deceased: true
                  blocked: true
                  birthYear: 2
                  name:
                    firstName: firstName
                    lastName: lastName
                    title: title
                  id: id
                  birthDate: 2000-01-23
                roles:
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
              - person:
                  address:
                    country: country
                    lng: 6.02745618307040320615897144307382404804229736328125
                    city: city
                    street: street
                    postalCode: postalCode
                    state: state
                    lat: 0.80082819046101150206595775671303272247314453125
                  deceased: true
                  blocked: true
                  birthYear: 2
                  name:
                    firstName: firstName
                    lastName: lastName
                    title: title
                  id: id
                  birthDate: 2000-01-23
                roles:
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
          company:
            relatedPersons:
              items:
              - person:
                  address:
                    country: country
                    lng: 6.02745618307040320615897144307382404804229736328125
                    city: city
                    street: street
                    postalCode: postalCode
                    state: state
                    lat: 0.80082819046101150206595775671303272247314453125
                  deceased: true
                  blocked: true
                  birthYear: 2
                  name:
                    firstName: firstName
                    lastName: lastName
                    title: title
                  id: id
                  birthDate: 2000-01-23
                roles:
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
              - person:
                  address:
                    country: country
                    lng: 6.02745618307040320615897144307382404804229736328125
                    city: city
                    street: street
                    postalCode: postalCode
                    state: state
                    lat: 0.80082819046101150206595775671303272247314453125
                  deceased: true
                  blocked: true
                  birthYear: 2
                  name:
                    firstName: firstName
                    lastName: lastName
                    title: title
                  id: id
                  birthDate: 2000-01-23
                roles:
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
            financials:
              date: 2000-01-23
              note:
                html: html
                text: text
              consolidated: true
              formattedDate: formattedDate
              source:
                snippets:
                - title: title
                  contentType: contentType
                  content: content
                - title: title
                  contentType: contentType
                  content: content
                publicationId: publicationId
                publicationTitle: publicationTitle
                publicationDate: 2000-01-23
                auditorName: auditorName
              items:
              - note: note
                unit: unit
                name: name
                formattedValue: formattedValue
                id: id
                value: 1.46581298050294517310021547018550336360931396484375
              - note: note
                unit: unit
                name: name
                formattedValue: formattedValue
                id: id
                value: 1.46581298050294517310021547018550336360931396484375
            address:
              country: country
              lng: 6.02745618307040320615897144307382404804229736328125
              city: city
              street: street
              postalCode: postalCode
              state: state
              lat: 0.80082819046101150206595775671303272247314453125
            subject: subject
            extras:
            - sourceUrl: sourceUrl
              sourceName: sourceName
              items:
              - formattedHtmlValue: formattedHtmlValue
                name: name
                id: id
                value: value
              - formattedHtmlValue: formattedHtmlValue
                name: name
                id: id
                value: value
            - sourceUrl: sourceUrl
              sourceName: sourceName
              items:
              - formattedHtmlValue: formattedHtmlValue
                name: name
                id: id
                value: value
              - formattedHtmlValue: formattedHtmlValue
                name: name
                id: id
                value: value
            history:
              financials:
              - date: 2000-01-23
                note:
                  html: html
                  text: text
                consolidated: true
                formattedDate: formattedDate
                source:
                  snippets:
                  - title: title
                    contentType: contentType
                    content: content
                  - title: title
                    contentType: contentType
                    content: content
                  publicationId: publicationId
                  publicationTitle: publicationTitle
                  publicationDate: 2000-01-23
                  auditorName: auditorName
                items:
                - note: note
                  unit: unit
                  name: name
                  formattedValue: formattedValue
                  id: id
                  value: 1.46581298050294517310021547018550336360931396484375
                - note: note
                  unit: unit
                  name: name
                  formattedValue: formattedValue
                  id: id
                  value: 1.46581298050294517310021547018550336360931396484375
              - date: 2000-01-23
                note:
                  html: html
                  text: text
                consolidated: true
                formattedDate: formattedDate
                source:
                  snippets:
                  - title: title
                    contentType: contentType
                    content: content
                  - title: title
                    contentType: contentType
                    content: content
                  publicationId: publicationId
                  publicationTitle: publicationTitle
                  publicationDate: 2000-01-23
                  auditorName: auditorName
                items:
                - note: note
                  unit: unit
                  name: name
                  formattedValue: formattedValue
                  id: id
                  value: 1.46581298050294517310021547018550336360931396484375
                - note: note
                  unit: unit
                  name: name
                  formattedValue: formattedValue
                  id: id
                  value: 1.46581298050294517310021547018550336360931396484375
              addresses:
              - date: 2000-01-23
                address:
                  country: country
                  lng: 6.02745618307040320615897144307382404804229736328125
                  city: city
                  street: street
                  postalCode: postalCode
                  state: state
                  lat: 0.80082819046101150206595775671303272247314453125
              - date: 2000-01-23
                address:
                  country: country
                  lng: 6.02745618307040320615897144307382404804229736328125
                  city: city
                  street: street
                  postalCode: postalCode
                  state: state
                  lat: 0.80082819046101150206595775671303272247314453125
              names:
              - date: 2000-01-23
                name:
                  name: name
                  legalForm: legalForm
              - date: 2000-01-23
                name:
                  name: name
                  legalForm: legalForm
              registers:
              - date: 2000-01-23
                register:
                  city: city
                  uniqueKey: uniqueKey
                  id: id
              - date: 2000-01-23
                register:
                  city: city
                  uniqueKey: uniqueKey
                  id: id
            relatedCompanies:
              items:
              - person:
                  address:
                    country: country
                    lng: 6.02745618307040320615897144307382404804229736328125
                    city: city
                    street: street
                    postalCode: postalCode
                    state: state
                    lat: 0.80082819046101150206595775671303272247314453125
                  deceased: true
                  blocked: true
                  birthYear: 2
                  name:
                    firstName: firstName
                    lastName: lastName
                    title: title
                  id: id
                  birthDate: 2000-01-23
                roles:
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
              - person:
                  address:
                    country: country
                    lng: 6.02745618307040320615897144307382404804229736328125
                    city: city
                    street: street
                    postalCode: postalCode
                    state: state
                    lat: 0.80082819046101150206595775671303272247314453125
                  deceased: true
                  blocked: true
                  birthYear: 2
                  name:
                    firstName: firstName
                    lastName: lastName
                    title: title
                  id: id
                  birthDate: 2000-01-23
                roles:
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
            sheets:
            - columnHeaders:
              - date: 2000-01-23
                source:
                  snippets:
                  - title: title
                    contentType: contentType
                    content: content
                  - title: title
                    contentType: contentType
                    content: content
                  publicationId: publicationId
                  publicationTitle: publicationTitle
                  publicationDate: 2000-01-23
                  auditorName: auditorName
              - date: 2000-01-23
                source:
                  snippets:
                  - title: title
                    contentType: contentType
                    content: content
                  - title: title
                    contentType: contentType
                    content: content
                  publicationId: publicationId
                  publicationTitle: publicationTitle
                  publicationDate: 2000-01-23
                  auditorName: auditorName
              unit: unit
              consolidated: true
              rows:
              - cells:
                - value: 5.63737665663332876420099637471139430999755859375
                - value: 5.63737665663332876420099637471139430999755859375
                level: 5
                name: name
              - cells:
                - value: 5.63737665663332876420099637471139430999755859375
                - value: 5.63737665663332876420099637471139430999755859375
                level: 5
                name: name
              type: balance
              reporting: HGB
            - columnHeaders:
              - date: 2000-01-23
                source:
                  snippets:
                  - title: title
                    contentType: contentType
                    content: content
                  - title: title
                    contentType: contentType
                    content: content
                  publicationId: publicationId
                  publicationTitle: publicationTitle
                  publicationDate: 2000-01-23
                  auditorName: auditorName
              - date: 2000-01-23
                source:
                  snippets:
                  - title: title
                    contentType: contentType
                    content: content
                  - title: title
                    contentType: contentType
                    content: content
                  publicationId: publicationId
                  publicationTitle: publicationTitle
                  publicationDate: 2000-01-23
                  auditorName: auditorName
              unit: unit
              consolidated: true
              rows:
              - cells:
                - value: 5.63737665663332876420099637471139430999755859375
                - value: 5.63737665663332876420099637471139430999755859375
                level: 5
                name: name
              - cells:
                - value: 5.63737665663332876420099637471139430999755859375
                - value: 5.63737665663332876420099637471139430999755859375
                level: 5
                name: name
              type: balance
              reporting: HGB
            blocked: true
            name:
              name: name
              legalForm: legalForm
            id: id
            terminated: true
            events:
              items:
              - date: 2000-01-23
                description: description
                type: type
              - date: 2000-01-23
                description: description
                type: type
            register:
              city: city
              uniqueKey: uniqueKey
              id: id
            status: active
        - person:
            address:
              country: country
              lng: 6.02745618307040320615897144307382404804229736328125
              city: city
              street: street
              postalCode: postalCode
              state: state
              lat: 0.80082819046101150206595775671303272247314453125
            deceased: true
            blocked: true
            birthYear: 2
            name:
              firstName: firstName
              lastName: lastName
              title: title
            id: id
            birthDate: 2000-01-23
          publication:
            date: 2000-01-23
            internal: '{}'
            language: language
            originalLanguage: originalLanguage
            title: title
            mentionedCompanies:
              items:
              - person:
                  address:
                    country: country
                    lng: 6.02745618307040320615897144307382404804229736328125
                    city: city
                    street: street
                    postalCode: postalCode
                    state: state
                    lat: 0.80082819046101150206595775671303272247314453125
                  deceased: true
                  blocked: true
                  birthYear: 2
                  name:
                    firstName: firstName
                    lastName: lastName
                    title: title
                  id: id
                  birthDate: 2000-01-23
                roles:
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
              - person:
                  address:
                    country: country
                    lng: 6.02745618307040320615897144307382404804229736328125
                    city: city
                    street: street
                    postalCode: postalCode
                    state: state
                    lat: 0.80082819046101150206595775671303272247314453125
                  deceased: true
                  blocked: true
                  birthYear: 2
                  name:
                    firstName: firstName
                    lastName: lastName
                    title: title
                  id: id
                  birthDate: 2000-01-23
                roles:
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
                - date: 2000-01-23
                  name: name
                  demotion: true
                  type: Publisher
                  dir: None
                  announce: true
                  group: Succession
            structure:
              topics:
              - name: name
                type: Entry
                value: value
              - name: name
                type: Entry
                value: value
            filings:
            - city: city
              id: id
            - city: city
              id: id
            blocked: true
            publisher:
              relatedPersons:
                items:
                - person:
                    address:
                      country: country
                      lng: 6.02745618307040320615897144307382404804229736328125
                      city: city
                      street: street
                      postalCode: postalCode
                      state: state
                      lat: 0.80082819046101150206595775671303272247314453125
                    deceased: true
                    blocked: true
                    birthYear: 2
                    name:
                      firstName: firstName
                      lastName: lastName
                      title: title
                    id: id
                    birthDate: 2000-01-23
                  roles:
                  - date: 2000-01-23
                    name: name
                    demotion: true
                    type: Publisher
                    dir: None
                    announce: true
                    group: Succession
                  - date: 2000-01-23
                    name: name
                    demotion: true
                    type: Publisher
                    dir: None
                    announce: true
                    group: Succession
                - person:
                    address:
                      country: country
                      lng: 6.02745618307040320615897144307382404804229736328125
                      city: city
                      street: street
                      postalCode: postalCode
                      state: state
                      lat: 0.80082819046101150206595775671303272247314453125
                    deceased: true
                    blocked: true
                    birthYear: 2
                    name:
                      firstName: firstName
                      lastName: lastName
                      title: title
                    id: id
                    birthDate: 2000-01-23
                  roles:
                  - date: 2000-01-23
                    name: name
                    demotion: true
                    type: Publisher
                    dir: None
                    announce: true
                    group: Succession
                  - date: 2000-01-23
                    name: name
                    demotion: true
                    type: Publisher
                    dir: None
                    announce: true
                    group: Succession
              financials:
                date: 2000-01-23
                note:
                  html: html
                  text: text
                consolidated: true
                formattedDate: formattedDate
                source:
                  snippets:
                  - title: title
                    contentType: contentType
                    content: content
                  - title: title
                    contentType: contentType
                    content: content
                  publicationId: publicationId
                  publicationTitle: publicationTitle
                  publicationDate: 2000-01-23
                  auditorName: auditorName
                items:
                - note: note
                  unit: unit
                  name: name
                  formattedValue: formattedValue
                  id: id
                  value: 1.46581298050294517310021547018550336360931396484375
                - note: note
                  unit: unit
                  name: name
                  formattedValue: formattedValue
                  id: id
                  value: 1.46581298050294517310021547018550336360931396484375
              address:
                country: country
                lng: 6.02745618307040320615897144307382404804229736328125
                city: city
                street: street
                postalCode: postalCode
                state: state
                lat: 0.80082819046101150206595775671303272247314453125
              subject: subject
              extras:
              - sourceUrl: sourceUrl
                sourceName: sourceName
                items:
                - formattedHtmlValue: formattedHtmlValue
                  name: name
                  id: id
                  value: value
                - formattedHtmlValue: formattedHtmlValue
                  name: name
                  id: id
                  value: value
              - sourceUrl: sourceUrl
                sourceName: sourceName
                items:
                - formattedHtmlValue: formattedHtmlValue
                  name: name
                  id: id
                  value: value
                - formattedHtmlValue: formattedHtmlValue
                  name: name
                  id: id
                  value: value
              history:
                financials:
                - date: 2000-01-23
                  note:
                    html: html
                    text: text
                  consolidated: true
                  formattedDate: formattedDate
                  source:
                    snippets:
                    - title: title
                      contentType: contentType
                      content: content
                    - title: title
                      contentType: contentType
                      content: content
                    publicationId: publicationId
                    publicationTitle: publicationTitle
                    publicationDate: 2000-01-23
                    auditorName: auditorName
                  items:
                  - note: note
                    unit: unit
                    name: name
                    formattedValue: formattedValue
                    id: id
                    value: 1.46581298050294517310021547018550336360931396484375
                  - note: note
                    unit: unit
                    name: name
                    formattedValue: formattedValue
                    id: id
                    value: 1.46581298050294517310021547018550336360931396484375
                - date: 2000-01-23
                  note:
                    html: html
                    text: text
                  consolidated: true
                  formattedDate: formattedDate
                  source:
                    snippets:
                    - title: title
                      contentType: contentType
                      content: content
                    - title: title
                      contentType: contentType
                      content: content
                    publicationId: publicationId
                    publicationTitle: publicationTitle
                    publicationDate: 2000-01-23
                    auditorName: auditorName
                  items:
                  - note: note
                    unit: unit
                    name: name
                    formattedValue: formattedValue
                    id: id
                    value: 1.46581298050294517310021547018550336360931396484375
                  - note: note
                    unit: unit
                    name: name
                    formattedValue: formattedValue
                    id: id
                    value: 1.46581298050294517310021547018550336360931396484375
                addresses:
                - date: 2000-01-23
                  address:
                    country: country
                    lng: 6.02745618307040320615897144307382404804229736328125
                    city: city
                    street: street
                    postalCode: postalCode
                    state: state
                    lat: 0.80082819046101150206595775671303272247314453125
                - date: 2000-01-23
                  address:
                    country: country
                    lng: 6.02745618307040320615897144307382404804229736328125
                    city: city
                    street: street
                    postalCode: postalCode
                    state: state
                    lat: 0.80082819046101150206595775671303272247314453125
                names:
                - date: 2000-01-23
                  name:
                    name: name
                    legalForm: legalForm
                - date: 2000-01-23
                  name:
                    name: name
                    legalForm: legalForm
                registers:
                - date: 2000-01-23
                  register:
                    city: city
                    uniqueKey: uniqueKey
                    id: id
                - date: 2000-01-23
                  register:
                    city: city
                    uniqueKey: uniqueKey
                    id: id
              relatedCompanies:
                items:
                - person:
                    address:
                      country: country
                      lng: 6.02745618307040320615897144307382404804229736328125
                      city: city
                      street: street
                      postalCode: postalCode
                      state: state
                      lat: 0.80082819046101150206595775671303272247314453125
                    deceased: true
                    blocked: true
                    birthYear: 2
                    name:
                      firstName: firstName
                      lastName: lastName
                      title: title
                    id: id
                    birthDate: 2000-01-23
                  roles:
                  - date: 2000-01-23
                    name: name
                    demotion: true
                    type: Publisher
                    dir: None
                    announce: true
                    group: Succession
                  - date: 2000-01-23
                    name: name
                    demotion: true
                    type: Publisher
                    dir: None
                    announce: true
                    group: Succession
                - person:
                    address:
                      country: country
                      lng: 6.02745618307040320615897144307382404804229736328125
                      city: city
                      street: street
                      postalCode: postalCode
                      state: state
                      lat: 0.80082819046101150206595775671303272247314453125
                    deceased: true
                    blocked: true
                    birthYear: 2
                    name:
                      firstName: firstName
                      lastName: lastName
                      title: title
                    id: id
                    birthDate: 2000-01-23
                  roles:
                  - date: 2000-01-23
                    name: name
                    demotion: true
                    type: Publisher
                    dir: None
                    announce: true
                    group: Succession
                  - date: 2000-01-23
                    name: name
                    demotion: true
                    type: Publisher
                    dir: None
                    announce: true
                    group: Succession
              sheets:
              - columnHeaders:
                - date: 2000-01-23
                  source:
                    snippets:
                    - title: title
                      contentType: contentType
                      content: content
                    - title: title
                      contentType: contentType
                      content: content
                    publicationId: publicationId
                    publicationTitle: publicationTitle
                    publicationDate: 2000-01-23
                    auditorName: auditorName
                - date: 2000-01-23
                  source:
                    snippets:
                    - title: title
                      contentType: contentType
                      content: content
                    - title: title
                      contentType: contentType
                      content: content
                    publicationId: publicationId
                    publicationTitle: publicationTitle
                    publicationDate: 2000-01-23
                    auditorName: auditorName
                unit: unit
                consolidated: true
                rows:
                - cells:
                  - value: 5.63737665663332876420099637471139430999755859375
                  - value: 5.63737665663332876420099637471139430999755859375
                  level: 5
                  name: name
                - cells:
                  - value: 5.63737665663332876420099637471139430999755859375
                  - value: 5.63737665663332876420099637471139430999755859375
                  level: 5
                  name: name
                type: balance
                reporting: HGB
              - columnHeaders:
                - date: 2000-01-23
                  source:
                    snippets:
                    - title: title
                      contentType: contentType
                      content: content
                    - title: title
                      contentType: contentType
                      content: content
                    publicationId: publicationId
                    publicationTitle: publicationTitle
                    publicationDate: 2000-01-23
                    auditorName: auditorName
                - date: 2000-01-23
                  source:
                    snippets:
                    - title: title
                      contentType: contentType
                      content: content
                    - title: title
                      contentType: contentType
                      content: content
                    publicationId: publicationId
                    publicationTitle: publicationTitle
                    publicationDate: 2000-01-23
                    auditorName: auditorName
                unit: unit
                consolidated: true
                rows:
                - cells:
                  - value: 5.63737665663332876420099637471139430999755859375
                  - value: 5.63737665663332876420099637471139430999755859375
                  level: 5
                  name: name
                - cells:
                  - value: 5.63737665663332876420099637471139430999755859375
                  - value: 5.63737665663332876420099637471139430999755859375
                  level: 5
[...]
