swagger: '2.0'
info:
  version: 1.0.0
  title: North Data API
  description: Programmatic access to the North Data DB.
  termsOfService: 'https://www.northdata.de/-n'
  contact:
    name: North Data Support
    # url: 'http://northdata.de'
    email: support@northdata.de
#  license:
    # name: Get your API license now
    # url: 'http://northdata.de'
host: www.northdata.de
basePath: /_api
schemes:
  - https
produces:
  - application/json
  - application/xml
paths:
  /company/v1/company:
    get:
      description: Retrieve a company.
      parameters:
        - $ref: '#/parameters/companyName'
        - $ref: '#/parameters/companyAddress'
        - $ref: '#/parameters/companyRegisterId'
        - $ref: '#/parameters/companyRegisterCity'
        - $ref: '#/parameters/companyId'
        - name: fuzzyMatch
          description: true to find best match (similar name and nearby address)
          in: query
          required: false
          type: boolean
        - name: history 
          description: true to include historical data
          in: query
          required: false
          type: boolean
        - name: financials
          description: true to include financial data
          in: query
          required: false
          type: boolean
        - name: relations
          description: true to include related company and person data
          in: query
          required: false
          type: boolean
        - $ref: '#/parameters/output'
      responses:
        '200':
          description: A successful response
          schema:
            $ref: '#/definitions/Company'
  /company/v1/publications:
    get:
      description: Retrieve the publications associated with a company.
      parameters:
        - $ref: '#/parameters/companyName'
        - $ref: '#/parameters/companyAddress'
        - $ref: '#/parameters/companyRegisterId'
        - $ref: '#/parameters/companyRegisterCity'
        - $ref: '#/parameters/companyId'
        - name: sources
          description: restrict which sources are allowed for the returned publications
          in: query
          required: false
          type: array
          collectionFormat: pipes
          items:
            $ref: '#/definitions/PublicationSource'
        - name: content
          description: whether to include publication text / html (significantly slows down response)
          in: query
          required: false
          type: boolean
        - $ref: '#/parameters/censor'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/output'
      responses:
        '200':
          description: A successful response
          schema:
            $ref: '#/definitions/GenericResponse'
  /person/v1/person:
    get:
      description: Retrieve a person.
      parameters:
        - $ref: '#/parameters/personFirstName'
        - $ref: '#/parameters/personLastName'
        - $ref: '#/parameters/personAddress'
        - $ref: '#/parameters/birthDate'
        - $ref: '#/parameters/personId'
        - name: history 
          description: true to include historical data
          in: query
          required: false
          type: boolean
        - name: financials
          description: true to include financial data
          in: query
          required: false
          type: boolean
        - name: relations
          description: true to include related company data
          in: query
          required: false
          type: boolean
        - $ref: '#/parameters/output'
      responses:
        '200':
          description: A successful response
          schema:
            $ref: '#/definitions/Person'
  /person/v1/publications:
    get:
      description: Retrieve the publications associated with a person.
      parameters:
        - $ref: '#/parameters/personFirstName'
        - $ref: '#/parameters/personLastName'
        - $ref: '#/parameters/personAddress'
        - $ref: '#/parameters/birthDate'
        - $ref: '#/parameters/personId'
        - name: sources
          description: restrict which sources are allowed for the returned publications
          in: query
          required: false
          type: array
          collectionFormat: pipes
          items:
            $ref: '#/definitions/PublicationSource'
        - name: content
          description: whether to include publication text / html (significantly slows down response)
          in: query
          required: false
          type: boolean
        - $ref: '#/parameters/censor'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/output'
      responses:
        '200':
          description: A successful response
          schema:
            $ref: '#/definitions/GenericResponse'
  /pub/v1/publications:
    get:
      description: Retrieve publications. At most 10 publications are returned with each call. For more, repeat the call setting the pos parameter to the newPos attribute value of the response.
      parameters:
        - name: minDate
          description: minimum date publication was added to the database
          in: query
          required: false
          type: string
          format: date
        - name: maxDate
          description: maximum date publication was added to the database
          in: query
          required: false
          type: string
          format: date
        - name: sources
          description: restrict which sources are allowed for the returned publications
          in: query
          required: false
          type: array
          collectionFormat: pipes
          items:
            $ref: '#/definitions/PublicationSource'
        - name: content
          description: whether to include publication text / html
          in: query
          required: false
          type: boolean
        - name: pos
          description: if additional results shall be downloaded, set this to the value of the newPos attribute of the previous response
          in: query
          required: false
          type: string
        - $ref: '#/parameters/censor'
        - $ref: '#/parameters/output'
      responses:
        '200':
          description: A successful response
          schema:
            $ref: '#/definitions/GenericResponse'
  /search/v1/universal:
    get:
      description: 'universal search: provides best company and person matches for given input query'
      parameters:
        - name: query
          description: the query string
          in: query
          required: true
          type: string
        - name: domain
          description: 'set to "company" for companies only, "person" for persons only, otherwise leave empty'
          in: query
          required: false
          type: string
        - $ref: '#/parameters/censor'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/output'
      responses:
        '200':
          description: A successful response
          schema:
            $ref: '#/definitions/SearchResults'
  /search/v1/suggest:
    get:
      description: 'auto complete: provides quick company and person suggestions for given input query'
      parameters:
        - name: query
          description: the query string
          in: query
          required: true
          type: string
        - $ref: '#/parameters/censor'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/output'
      responses:
        '200':
          description: A successful response
          schema:
            $ref: '#/definitions/SearchResults'
  /search/v1/power:
    get:
      consumes: "application/json"
      description: 'power search: supports geo and financial criteria'
      parameters:
        - name: 'name'
          description: 'company name or empty'
          required: false
          type: string
          in: query
        - name: address
          description: address or geo coordinates
          required: false
          type: string
          in: query
        - name: maxDistanceKm
          description: maximum distance from given address
          required: false
          type: number
          format: double
          in: query
        - name: financialId
          description: list of financial ids for financial filtering (see user guide)
          required: false
          type: array
          in: query
          collectionFormat: pipes
          items:
            type: string
        - name: lowerBound
          description: list of lower bounds for financial filterings  (see user guide)
          required: false
          type: array
          in: query
          collectionFormat: pipes
          items:
            type: number
            format: double
        - name: upperBound
          description: list of upper bounds for financial filterings  (see user guide)
          required: false
          type: array
          in: query
          collectionFormat: pipes
          items:
            type: number
            format: double
        - $ref: '#/parameters/censor'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/output'
      responses:
        '200':
          description: A successful response
          schema:
            $ref: '#/definitions/SearchResults'
parameters:
  companyName:
    name: name
    description: company name
    in: query
    required: false
    type: string
  companyAddress:
    name: address
    description: company address (you only need to specify the city)
    in: query
    required: false
    type: string
  companyRegisterCity: 
    name: registerCity
    description: the city of the court where the company is registered, for example Hamburg
    in: query
    required: false
    type: string
  companyRegisterId:  
    name: registerId
    description: the ID of under which the company is registered, for example HRB 12345
    in: query
    required: false
    type: string
  companyId:
    name: companyId
    description: internal company id (do not store this id in an external database, it may change over time)
    in: query
    required: false
    type: string
  personFirstName: 
    name: firstName
    description: first name(s) of a person
    in: query
    required: false
    type: string
  personLastName: 
    name: lastName
    description: last name of a person
    in: query
    required: false
    type: string
  personAddress:
    name: address
    description: person address (you only need to specify the city)
    in: query
    required: false
    type: string
  birthDate:
    name: birthDate
    description: birth date
    in: query
    required: false
    type: string
    format: date
  personId:
    name: personId
    description: internal person id (do not store this id in an external database, it may change over time)
    in: query
    required: false
    type: string
  censor:
    name: censor
    description: should be set when presenting the content on a public website
    in: query
    required: false
    type: boolean
  offset:
    name: offset
    description: offset of first item to return
    in: query
    required: false
    type: integer
    format: int32
  limit:
    name: limit
    description: maximum number of items to return
    in: query
    required: false
    type: integer
    format: int32
  output:
    name: output
    type: string
    description: response format
    enum: ["json", "xml"]
    default: "json"
    in: query
    required: false
definitions:
  Company:
    title: Company
    description: All data for a particular company
    type: object
    properties:
      id:
        type: string
        description: internal company id (do not store this id in an external database, it may change over time)
      name:
        $ref: '#/definitions/CompanyName'
        description: name of the company
      address:
        $ref: '#/definitions/Address'
        description: current address
      register:
        $ref: '#/definitions/Register'
        description: register information
      subject:
        type: string
        description: subject according to register filing (Unternehmensgegenstand)
      terminated:
        type: boolean
        description: company has been terminated (liquidation, etc.)
      history:
        $ref: '#/definitions/CompanyHistory'
        description: earlier names, addresses, and register entries
      financials:
        $ref: '#/definitions/Financials'
        description: financial performance indicators
      relatedCompanies:
        $ref: '#/definitions/Relations'
        description: related companies
      relatedPersons:
        $ref: '#/definitions/Relations'
        description: related persons
    required:
      ["id", "name", "address"]
  CompanyName:
    type: object
    properties:
      name:
        type: string
        description: name of a company
      required:
        [name"]
  Register:
    type: object
    description: 'register entry information (e.g., Amtsgericht Hamburg HRB 9999)'
    properties:
      city:
        type: string
        description: 'city of the register court (e.g. Hamburg)'
      id:
        type: string
        description: 'ID of the register filing (e.g. HRB 9999)'
      uniqueKey:
        type: string
        description: unique numerical key for repeatably unique identification of the register entry
    required:
      ["id"]
  Filing:
    type: object
    description: Court Filing (e.g., Insolvenzgericht Charlottenburg 36w IN 3284/16)
    properties:
      city: 
        type: string
        description: 'city of the register court (e.g. Charlottenburg)'
      id:
        type: string
        description: 'ID of the court filing (e.g., 36w IN 3284/16)'
    required:
      ["id"]
  Address:
    type: object
    properties:
      street:
        type: string
        description: street and house number
      postalCode:
        type: string
        description: postal code
      city:
        type: string
        description: city
      country:
        type: string
        description: two-letter ISO country code
      lat:
        type: number
        format: double
        description: geo coordinates, latitude part
      lng:
        type: number
        format: double
        description: geo coordinates, longitude part
    required:
      ["city", "country"]
  CompanyNameHistoryItem:
    type: object
    properties:
      name:
        $ref: '#/definitions/CompanyName'
      date:
        type: string
        format: date
        description: since when the referred company name is (known to be) in use
    required:
      ["name"]
  AddressHistoryItem:
    type: object
    properties:
      address:
        $ref: '#/definitions/Address'
      date:
        type: string
        format: date
        description: since when the referred address is (known to be) in use
    required:
      ["address"]
  RegisterHistoryItem:
    type: object
    properties:
      register:
        $ref: '#/definitions/Register'
      date:
        type: string
        format: date
        description: since when this registry entry is valid
    required:
      ["register"]
  CompanyHistory:
    type: object
    properties:
      names:
        type: array
        description: name history of a company
        items:
          $ref: '#/definitions/CompanyNameHistoryItem'
      addresses:
        type: array
        description: adress history of a company
        items:
          $ref: '#/definitions/AddressHistoryItem'
      registers:
        type: array
        description: register entry history of a company
        items:
          $ref: '#/definitions/RegisterHistoryItem'
      financials:
        type: array
        description: historical financial data
        items:
          $ref: '#/definitions/Financials'
  Financials:
    type: object
    description: financial data
    properties:
      date:
        type: string
        format: date
        description: reference date
      formattedDate:
        type: string
        description: date formatted as a german string 
      consolidated:
        type: boolean
        description: true if the financial data refer to a consolidated balance (Konzernabschluss)
      source:
        $ref: '#/definitions/FinancialsSource'
        description: source of financial data
      items:
        type: array
        description: list of financial numbers
        items:
          $ref: '#/definitions/Financial'
    required:
      [ "date", "formattedDate", "consolidated", "items"]
  Financial:
    type: object
    description: single financial number
    properties:
      id:
        type: string
        description: type of number (for example, revenue). Please see the document Finanz-Kennzahlentabelle for a complete list
      name:
        type: string
        description: name in German language (for example, Umsatz)
      value:
        type: number
        format: double
        description: actual value
      unit:
        type: string
        description: unit or currency (EUR, % or empty)
      note:
        type: string
        description: optional note or comment with respect to the calculation of the financial
      formattedValue:
        type: string
        description: value formatted as a string (German number formatting conventions)
    required: ["id", "name", "value", "formattedValue"]
  FinancialsSource:
    type: object
    description: source of financial data
    properties:
      publicationId:
        type: string
        description: internal publication ID
      publicationTitle:
        type: string
        description: publication title such as "Jahresabschluss 2015"
      publicationDate:
        type: string
        format: date
        description: date the publication was published
      auditorName:
        type: string
        description: name of auditing company
      snippets:
        type: array
        description: excerpts from the original publication containing the financial data
        items:
          $ref: '#/definitions/SourceSnippet'
    required: ["publicationDate", "publicationTitle"]
  FinancialFilter:
    type: object
    description: used to specify financial constraints for company queries 
    properties: 
      financialId: 
        type: string
        description: id of the financial (e.g. "revenue")
      lowerBound:
        type: number
        format: double
        description: value of the financial must be larger or equal to the lower bound
      upperBound:
        type: number
        format: double
        description: value of the financial must be smaller or equal to the upper bound
  SourceSnippet:
    type: object
    description: excerpts from an original publication
    properties:
      title:
        type: string
        description: title
      content:
        type: string
        description: text
      contentType:
        type: string
        description: content format, usually "text/html"
    required: ["title", "content"]
  Publication:
    type: object
    properties:
      id:
        type: string
        description: interne ID
      date:
        type: string
        format: date
        description: publishing date
      source:
        $ref: '#/definitions/PublicationSource'
      sourceName:
        type: string
        description: full name of source
      category:
        type: string
        description: category under which publication was filed in the original source
      title:
        type: string
        description: title of publication
      text:
        type: string
        description: raw text of the publication
      html:
        type: string
        description: text of publication in HTML format
      publisher:
        $ref: '#/definitions/Company'
        description: company that published this publication
      structure:
        $ref: '#/definitions/PublicationStructure'
        description: result of structural analysis
      mentionedCompanies:
        $ref: '#/definitions/Relations'
        description: list of companies mentioned in this publication
      mentionedPersons:
        $ref: '#/definitions/Relations'
        description: list of persons mentioned in this publication
      filings:
        type: array
        description: 'court filings (currently only: insolvency filings)'
        items:
          $ref: '#/definitions/Filing'
      internal:
        type: object
        description: additional data used for internal purposes
    required: ["id", "date", "source", "title"]
  Topic:
    description: topic of a publication
    type: object
    properties:
      name:
        type: string
        description: German description (e.g., "Stammkapital")
      value:
        type: string
        description: accompanying value (e.g., €100.000,-)
      type:
        type: string
        enum: ["Entry", "Continuation", "Name", "Headquarters", "Address", "Capital", "Subject", "Contract", "Statute", "LegalForm", "Proxy", "ListOfBoardMembers", "ConvertibleBonds", "Exit", "Aufhebung", "Verguetung", "AnkuendigungRestschuldbefreiung", "Restschuldbefreiung", "EinstellungMangelsMasse", "Eroeffnung", "Masseunzulänglichkeit", "Pruefungstermin", "Schlusstermin", "VerteilungsVerzeichnis", "AbweisungMangelsMasse", "TreuhaenderBestimmung", "Insolvenzverwalter", "VorlaufigerInsolvenzverwalter", "Sicherungsmassnahme", "InsolvenzSonstiges"]
        description: internal identificator for the topic
      required: ["type", "name"]
  PublicationStructure:
    type: object
    description: result of the structural analysis of a publication
    properties:
      topics:
        type: array
        description: topics of the publication
        items:
          $ref: '#/definitions/Topic'
  PublicationSource:
    type: string
    description: source identifier (Hrb - Handelsregisterbekanntmachungen, Eb - Elektronischer Bundesanzeiger, Ins - Insolvenzbekanntmachungen)
    enum:
      - Hrb
      - Eb
      - Ins
  Relation:
    type: object
    description: relation of a company or person to another company or person
    properties:
      company:
        description: Related company (only base data - id, name, address, register)
        $ref: '#/definitions/Company'
      person:
        $ref: '#/definitions/Person'
        description: Related person (only base data - id, first and last name, adress, birth date)
      roles:
        type: array
        description: description of the type of the relation 
        items:
          $ref: '#/definitions/Role'
    required:
      ["roles"]
  Relations:
    type: object
    description: list of related companies / persons
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Relation'
    required:
      ["items"]
  Role:
    type: object
    description: description of the type of a relation
    required: ["type", "name", "group"]
    properties:
      date:
        type: string
        format: date
        description: date
      name:
        type: string
        description: German description
      demotion:
        type: boolean
        description: true if the relation ends at the given date (e.g., "Aussscheiden eines Geschäftsführers")
      announce:
        type: boolean
        description: true if the relation might be preliminary ("Ankündigung")
      type:
        type: string
        enum: ["Publisher", "Umwandlung", "Sitzverlegung", "Hgb264", "Komplementaer", "Beherrschung", "Gewinnnabfuehrung", "Teilgewinnnabfuehrung", "Gewinngemeinschaft", "Betriebspacht", "Betriebsueberlassung", "Uebernahme", "Verschmolzen", "Ausgliederung", "Abspaltung", "Inhaber", "Paechter", "PersoenlichHaftenderGesellschafter", "Vorstandsvorsitzender", "Vorstand", "Geschaeftsfuehrer", "StellvertretenderGeschaeftsfuehrer", "GeschaeftsfuehrenderDirektor", "Notgeschaeftsfuehrer", "StaendigerVertreter", "Partner", "Director", "Liquidator", "Aufsichtsrat", "Prokura", "Handelnd", "Unknown"]
        description: internal identifier
      group:
        type: string
        enum: ["Succession", "Control", "Merger", "Personal", "Other"]
        description: internal group identifier
      dir:
        type: string
        enum: ["None", "Source", "Target", "Bi"]
        description: Direction. The exact interpretation depends of the value of the field "group". Case "succession" - older company is "Source". Case "merger" - Sold company is "Source", Buyer is target "Target". Case "control" - controlling company is "Source".
  PersonName:
    type: object
    properties:
      firstName:
        type: string
        description: first name(s)
      lastName:
        type: string
        description: last name
      title:
        type: string
        description: title
    required: [lastName]
  Person:
    type: object
    properties:
      id:
        type: string
        description: internal person id (do not store this id in an external database, it may change over time)
      name:
        $ref: '#/definitions/PersonName'
      address:
        $ref: '#/definitions/Address'
      birthDate:
        description: Birth date
        type: string
        format: date
      birthYear:
        description: Sometimes only the birth years is known, but not the exact date
        type: integer
        format: int32
      deceased:
        description: person is known to be dead
        type: boolean
      relatedCompanies:
        $ref: '#/definitions/Relations'
        description: Related companies
    required: ["id", "name"]
  GenericResponse:
    type: object
    properties:
      newPos:
        type: string
      publications:
        type: array
        items:
          $ref: '#/definitions/Publication'
  SearchResults:
    type: object
    description: search results
    properties:
      results:
        type: array
        description: list of results
        items:
          $ref: '#/definitions/SearchResult'
      censored:
        type: boolean
        description: true if results have been omitted because of censoring
      offset:
        type: integer
        format: int32
        description: offset of result array in all results
      nextOffset: 
        type: integer
        format: int32
        description: offset to retrieve next batch of results
      total: 
        type: integer
        format: int32
        description: total number of results (usually, this number is not available, unfortunately)
  SearchResult:
    type: object
    description: company, person or publication that is result of a search
    properties:
      company:
        description: company found
        $ref: '#/definitions/Company'
      person:
        description: person found
        $ref: '#/definitions/Person'
      publication:
        description: publication found
        $ref: '#/definitions/Publication'
  