name: Java CI

on: 
  push:
    branches: 
      - '**'
    tags:
      - none  

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.0
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4.7.1
      with:
        distribution: temurin
        java-version: 21
        cache: maven

    - name: Build with Maven
      run: mvn --batch-mode clean deploy
      env:
        CENTRAL_PORTAL_USERNAME: ${{ secrets.CENTRAL_PORTAL_USERNAME }}
        CENTRAL_PORTAL_PASSWORD: ${{ secrets.CENTRAL_PORTAL_PASSWORD }}
