name: Publish HTML

on: 
  workflow_dispatch:

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Clone repository
      uses: actions/checkout@v4.1.7
      with:
        fetch-depth: 1
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4.5.0
      with:
        distribution: temurin
        java-version: 17
        cache: maven

    - name: Build with Maven
      run: mvn -B -s .mvn/settings.xml clean install
      env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
  
    - name: Publish HTML to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4.0.0
      with:
        personal_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        external_repository: northdata/northdata.github.io
        publish_branch: master
        publish_dir: target/classes/html

