name: Release to Maven Central

run-name: Release to Maven Central (${{ inputs.tag }})

on: 
  workflow_dispatch:
    inputs:
      tag:
        description: "Version tag (e.g. 1.234.5)"

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Clone repository
      uses: actions/checkout@v4.2.2
      with:
        fetch-depth: 1
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4.5.0
      with:
        distribution: temurin
        java-version: 17
        cache: maven

    - name: Replace default version
      uses: jacobtomlinson/gha-find-replace@v3
      with:
        find: "0.0.0-SNAPSHOT"
        replace: ${{ inputs.tag }}
        include: "{pom.xml,swagger.yaml}"
        regex: false        

    - name: Commit changes
      run: |
        git config --global user.name 'CI'
        git config --global user.email 'noreply@northdata.de'
        git commit -a -m "release ${{ inputs.tag }}"

    - name: Push changes
      uses: ad-m/github-push-action@v0.8.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}

    - name: Push Git tag
      run: |
        git config --global user.name 'CI'
        git config --global user.email 'noreply@northdata.de'
        git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
        git tag ${{ github.event.inputs.tag }}
        git push --tags
    
    - name: Build and publish Maven release
      run: |
        mvn --batch-mode clean deploy -Prelease
      env:
        CENTRAL_PORTAL_USERNAME: ${{ secrets.CENTRAL_PORTAL_USERNAME }}  
        CENTRAL_PORTAL_PASSWORD: ${{ secrets.CENTRAL_PORTAL_PASSWORD }}  
        MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        MAVEN_GPG_KEY: ${{ secrets.GPG_PRIVATE_KEY }}

    - name: Publish HTML to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4.0.0
      with:
        personal_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        external_repository: northdata/northdata.github.io
        publish_branch: master
        publish_dir: target/classes/html

    - name: Replace release version with default
      uses: jacobtomlinson/gha-find-replace@v3
      with:
        find: ${{ inputs.tag }}
        replace: "0.0.0-SNAPSHOT"
        include: "{pom.xml,swagger.yaml}"
        regex: false        

    - name: Commit changes
      run: |
        git config --global user.name 'CI'
        git config --global user.email 'noreply@northdata.de'
        git commit -a -m "default version 0.0.0-SNAPSHOT"

    - name: Push changes
      uses: ad-m/github-push-action@v0.8.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}

